<!DOCTYPE html>
<html lang="en">
<head>
    <title>Корзина</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-light">
    <div class="container-fluid">
        <form class="form-inline">
            <a th:href="@{/home}">
                <button class="btn btn-outline-success" type="button">Главная</button>
            </a>
        </form>
        <form class="form-inline my-2 my-lg-0">
            <a th:href="@{/search/paging}">
                <button class="btn btn-outline-success m-1" type="button">Поиск</button>
            </a>
            <a th:href="@{/account}">
                <button class="btn btn-outline-success m-1" type="button">Кабинет</button>
            </a>
            <a th:href="@{/cart/open}">
                <button class="btn btn-outline-success m-1" type="button">Корзина</button>
            </a>
        </form>
    </div>
</nav>
<h2 style="text-align: center">Корзина</h2>
<p></p>
<div th:test="${info}!=null">
    <p style="text-align: center" class="text-success" th:text="${info}"></p>
</div>
<div class="container-fluid mb-4" style="text-align: center">
    <div th:test="${cart}!=null">
        <div th:each="p:${cart.getProducts()}">
            <div class="card w-50 m-1">
                <div class="card-body">
                    <div class="card-body">
                        <div class="row">
                            <div class="col m-1">
                                <img
                                        class="card-img"
                                        style="width:100px;height:100px"
                                        th:src="@{${'/images/' + p.imagePath}}"
                                        alt="Product image"></div>
                            <div class="col m-1" style="text-align: left"><p></p>
                                <p th:text="${p.getName()}"></p>
                                <p th:text="${p.getDescription()}"></p>
                                <p th:text="${p.getPrice()}"></p></div>
                            <div class="col m-1"><a
                                    th:href="'/cart/delete?product_id='+${p.getId()}">
                                <p></p>
                                <button class="btn btn-danger m-2" style="text-align: right" type="button">Удалить
                                </button>
                            </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mb-4" style="text-align: center"><a th:href="@{/cart/order}"
                                                                style="text-align: right"><p></p>
    <button class="btn btn-success m-2" type="button">Оформить заказ</button>
</a></div>
</body>
</html>
