<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${category.getName()}"></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-light">
    <div class="container-fluid">
        <div class="files">
            <div sec:authorize="hasAuthority('ADMIN')">
                <form method="POST" th:action="@{/category/upload}" enctype="multipart/form-data" class="file-import">
                    <label class="label">
                        <input id="file" name="file" type="file" class="title" accept=".csv">
                    </label>
                    <br>
                    <button type="submit" class="btn btn-outline-success m-1">Добавить из файла
                    </button>
                </form>
            </div>
            <a th:href="@{'/category/' + ${category.id} + '/download'}">
                <button class="btn btn-outline-success m-1" type="button">Загрузить в файл</button>
            </a>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <a th:href="@{/home}">
                <button class="btn btn-outline-success m-1" type="button">Главная</button>
            </a>
            <a th:href="@{/search/paging}">
                <button class="btn btn-outline-success m-1" type="button">Поиск</button>
            </a>
            <a th:href="@{/account}">
                <button class="btn btn-outline-success m-1" type="button">Кабинет</button>
            </a>
            <a th:href="@{/cart/open}">
                <button class="btn btn-outline-success m-1" type="button">Корзина</button>
            </a>
        </form>
    </div>
</nav>
<h2 style="text-align: center" th:text="${category.getName()}"></h2>
<div style="text-align: center" th:text="${message}"></div>
<div th:test="${products}!=null">
    <div class="container-fluid mb-4">
        <div class="card w-25 m-1" th:each=" p : ${products}">
            <div class="card-body">
                <div class="row">
                    <div class="col m-1"><a
                            th:href="'/products/'+${p.getId()}"><img
                            class="card-img"
                            style="width:140px;height:140px"
                            th:src="@{${'/images/' + p.imagePath}}"
                            alt="Product image"></a></div>
                    <div class="col m-1" style="text-align: center"><p></p>
                        <a th:href="'/products/'+${p.getId()}">
                            <p th:text="${p.getName()}"></p>
                        </a>
                        <p th:text="${p.getDescription()}"></p>
                        <p th:text="${p.getPrice()}"></p></div>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation">
        <div class="dropdown" style="text-align: center">
            <button type="button" class="btn btn-light" data-toggle="dropdown">
                Количество
            </button>
            <div class="dropdown-menu" style="color: black">
                <a class="dropdown-item" th:href="'/category/'+${id}+'/paging?pageSize=1&pageNumber=0'"
                   style="color: black">1</a>
                <a class="dropdown-item" th:href="'/category/'+${id}+'/paging?pageSize=2&pageNumber=0'"
                   style="color: black">2</a>
                <a class="dropdown-item" th:href="'/category/'+${id}+'/paging?pageSize=3&pageNumber=0'"
                   style="color: black">3</a>
            </div>
        </div>
        <ul class="pagination justify-content-center">
            <li th:if="${pageNumber le 0}" class="q-pagination-disabled"></li>
            <li th:if="${pageNumber gt 0}" class="page-item"><a class="page-link"
                                                                th:href="'/category/'+${id}+'/paging?pageSize='+${pageSize}+'&pageNumber='+(${pageNumber}-1)"
                                                                th:text="Previous"></a></li>
            <div th:each="i : ${totalPages}">
                <li class="page-item"><a class="page-link"
                                         th:href="'/category/'+${id}+'/paging?pageSize='+${pageSize}+'&pageNumber='+${i}"
                                         th:text="${i}+1"></a>
                </li>
            </div>
            <li th:if="${pageNumber gt numMov}" class="q-pagination-disabled"></li>
            <li th:if="${(pageNumber le penNumMov)&&(pageNumber!=null)}" class="page-item"><a class="page-link"
                                                                                              th:href="'/category/'+${id}+'/paging?pageSize='+${pageSize}+'&pageNumber='+(${pageNumber}+1)"
                                                                                              th:text="Next"></a></li>
        </ul>
    </nav>
</div>
</body>
</html>
