<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Вход
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        span.error {
            color: red;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-light">
    <div class="container-fluid">
        <form class="form-inline">
            <a th:href="@{/home}">
                <button class="btn btn-outline-success" type="button">Главная</button>
            </a>
        </form>
        <form class="form-inline my-2 my-lg-0">
            <a th:href="@{/search/paging}">
                <button class="btn btn-outline-success m-1" type="button">Поиск</button>
            </a>
            <a th:href="@{/cart/open}">
                <button class="btn btn-outline-success m-1" type="button">Корзина</button>
            </a>
        </form>
    </div>
</nav>
<h2 style="text-align:center">Вход</h2>
<p style="text-align:center">Введите имя пользователя и пароль</p>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-5">
            <form th:method="POST" th:action="@{/login}">
                <div class="form-group">
                    <label for="email">Пользователь:</label>
                    <input type="text" class="form-control w-25" id="email" placeholder="Введите почту"
                           name="email">
                    <span class="error" th:text="${emailError}"></span>
                </div>
                <div class="form-group">
                    <label for="password">Пароль:</label>
                    <input type="text" class="form-control w-25" id="password" placeholder="Введите пароль"
                           name="password">
                    <span class="error" th:text="${passwordError}"></span>
                </div>
                <button type="submit" class="btn btn-success">Вход</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>