<!DOCTYPE html>
<html lang="en">
<head>
    <title>Поиск</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-light">
    <div class="container-fluid">
        <form class="form-inline">
            <a th:href="@{/home}">
                <button class="btn btn-outline-success" type="button">Главная</button>
            </a>
        </form>
        <form class="form-inline my-2 my-lg-0">
            <a th:href="@{/account}">
                <button class="btn btn-outline-success m-1" type="button">Кабинет</button>
            </a>
            <a th:href="@{/cart/open}">
                <button class="btn btn-outline-success m-1" type="button">Корзина</button>
            </a>
        </form>
    </div>
</nav>
<div class="container">
    <form class="search-form" th:method="POST" th:action="@{/search}"
          style="text-align: center">
        <label for="searchString"></label>
        <input type="text" name="searchString" id="searchString" class="span3 w-75"
               placeholder="Поиск">
        <button type="submit" class="btn btn-success">Найти</button>
    </form>
    <p></p>
    <div th:test="${info}!=null">
        <p style="text-align: center" class="text-danger" th:text="${info}"></p>
        <p></p>
    </div>
</div>
<br>
<div class="row"><p></p>
    <div class="col" style="text-align: center">Фильтр<br><br>
        <form th:method="POST" th:action="@{/search}">
            <div class="form-group">
                <label for="categories"></label><select id="categories" name="categories">
                <div th:each="c:${categories}">
                    <option style="text-align: center" th:text="${c.getName()}"></option>
                </div>
            </select>
            </div>
            <p></p>
            <div class="form-group">
                <label>
                    <input type="text" id="priceFrom" placeholder="Цена от" name="priceFrom">
                </label>
                <p></p>
                <label>
                    <input type="text" id="priceTo" placeholder="Цена до" name="priceTo">
                </label>
                <p></p>
                <div>
                    <button class="btn btn-success" style="text-align: center">Применить</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col" style="text-align: center">Результаты поиска:<br><br>
        <div th:test="${message}!=null">
            <p style="text-align: center" class="text" th:text="${message}"></p>
            <p></p>
        </div>
        <div th:each="p:${products}">
            <div class="card w-80 m-1">
                <div class="card-body">
                    <div class="row">
                        <div class="col m-1"><a
                                th:href="'/products/'+${p.getId()}"><img
                                class="card-img"
                                style="width:100px;height:100px"
                                th:src="@{${'/images/' + p.imagePath}}"
                                alt="Product image"></a></div>
                        <div class="col m-1" style="text-align: left">
                            <a th:href="'/products/'+${p.getId()}">
                                <p th:text="${p.getName()}"></p>
                            </a>
                            <p th:text="${p.getDescription()}"></p>
                            <p th:text="${p.getPrice()}"></p></div>
                        <div class="col m-1"><br>
                            <a th:href="'/products/'+${p.getId()}">
                                <button class="btn btn-outline-success m-2" style="text-align: center" type="button">
                                    Смотреть
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<ul class="pagination justify-content-end" style="margin:20px 0">
    <div class="dropdown">
        <button type="button" class="btn btn-outline-success m-1" data-toggle="dropdown">
            Страница
        </button>
        <div class="dropdown-menu" style="color: black">
            <a class="dropdown-item" th:href="@{/search/1}" style="color: black">1</a>
            <a class="dropdown-item" th:href="@{/search/2}" style="color: black">2</a>
            <a class="dropdown-item" th:href="@{/search/3}" style="color: black">3</a>
        </div>
    </div>
    <li class="page-item"><a class="btn btn-outline-success m-1" th:href="@{/search/previous}"><</a></li>
    <li class="page-item"><a class="btn btn-outline-success m-1" th:href="@{/search/next}">></a></li>
</ul>
</body>
</html>
